* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.slider_left {
        height: 100%;
        width: 35%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s ease-in-out;
}

.slider_left > div {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: white;
}
.slider_left h1 {
            font-size: 40px;
            margin-bottom: 10px;
            margin-top: -30px;
        }
.slider_left p {
            padding: 0 55px;
            letter-spacing: 1px;
            line-height: 150%;
            text-align: center;
        }
.slider_right {
        position: absolute;
        height: 100%;
        top: 0;
        left: 35%;
        width: 65%;
        transition: 0.5s ease-in-out;
}
.slider_right > div {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            width: 100%;
        }

.slider_down {
        transform: translate(-100%, 0);
        border-radius: 10px 0 0 10px;
}

.slider_up {
        transform: translate(0, -100%);
        border-radius: 0 10px 10px 0;
}

.slider_buttons button {
    position: absolute;
    width: 40px;
    height: 40px;
    border: none;
    left: 0;
    top: 50%;
    font-size: 20px;
    cursor: pointer;
}